<!doctype html>
<html>
    <head>
        <title>PAP24</title>
    </head>

    <link rel="stylesheet" type="text/css" href="styles.css" />

    <body>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabbable tabs-right">
                        <div class="tab-content col-xs-10">
                            <div class="tab-pane active" id="1">
                                <div id="content">Loading...</div>
                            </div>
                            <div class="tab-pane" id="2">
                                Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                                Aliquam in felis sit amet augue.
                            </div>
                            <div class="tab-pane" id="3">
                                Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit.
                                Duis pharetra varius quam sit amet vulputate.
                                Quisque mauris augue, molestie tincidunt condimentum vitae.
                            </div>
                        </div>

                        <ul class="nav nav-tabs col-xs-2">
                            <li class="active"><a href="#1" data-toggle="tab">One</a></li>
                            <li><a href="#2" data-toggle="tab">Two</a></li>
                            <li><a href="#3" data-toggle="tab">Twee</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script src="popup.js"></script>
    </body>
</html>
