<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>PAP24</title>
    </head>

    <body>
        <div class="row">
            <div class="col s8">
                <div id="page-content" class="page-content"></div>
            </div>
            <div id="navigation" class="col s4 navigation">
                <div id="breaking-news" class="collection"></div>
                <div id="categories" class="collection"></div>
            </div>
        </div>

        <script src="./bundle.js"></script>
    </body>
</html>
