@import "section-24.scss";
@import "section-rss-feed.scss";

.page-container {
    position: relative;
    width: ($_BASE_WIDTH - $_PANEL_WIDTH) - $_PANEL_GUTTER - $_PAGE_MARGIN;
    height: 100%;
    margin: $_PAGE_MARGIN;

    .page {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: none;

        &.active {
            display: block;
        }
    }
}

.panel-container {
    position: fixed;
    top: 0;
    right: 0;
    width: $_PANEL_WIDTH;
    height: 100%;
    background-color: $_PANEL_BG_COLOR;

    button {
        $height: 40px;
        $hover_color: darken($_PANEL_BG_COLOR, 10%);
        $border_color: $hover_color;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        border: none;
        border-bottom: 1px solid $border_color;
        outline: none;
        width: 100%;
        height: $height;
        line-height: $height;
        font-size: 14px;
        background-color: transparent;
        color: #fff;
        text-align: center;

        &.active,
        &:hover {
            color: #fff;
            background-color: $hover_color;
            cursor: pointer;
        }
    }
}
