$_BASE_BG_COLOR: #fff;
$_BASE_WIDTH: 600px;
$_BASE_HEIGHT: 600px;
$_BASE_FONT_FAMILY: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;

$_PAGE_PADDING: 20px;

$_PANEL_WIDTH: 100px;
$_PANEL_GUTTER: 20px;
