@import "variables.scss";
@import "reset.scss";
@import "page.scss";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    background-color: $_BASE_BG_COLOR;
    font-family: $_BASE_FONT_FAMILY;
    font-size: 100%;
    width: $_BASE_WIDTH;
    height: $_BASE_HEIGHT;
}

.master-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}
