@import "reset.scss";
@import "materialize/materialize.scss";
@import "page.scss";
@import "breaking-news.scss";

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    background-color: #fafafa;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 800px;
    height: 600px;
}

.collection {
    margin: 0;

    a.collection-item {
        color: #ee3124;

        &:not(.active):hover {
            color: #fff;
            background-color: #ee3124;
        }

        &.active {
            color: #fff;
            background-color: #ee3124;
        }
    }
}
